body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #0d1326;
    color: #fff;
}

#navbar {
    background-color: #090B2D;
}

.logo img {
    max-height: 30px;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

.card {
    border: 2px solid #ffa500;
    height: 150px;
}

.nav-item button {
    background: linear-gradient(to bottom, #2364AA, #0b1221);
    margin-bottom: 10px;
    text-align: left;
}
.nav-item button:hover {
    background: linear-gradient(to bottom, #1c2748, #0b1221);
}
.nav-item button.active {
    background: linear-gradient(to bottom, #EA7317, #090B2D);
    
}
nav{
    background-color: #090B2D;
}
#navbar button{
    background: linear-gradient(to bottom, #2364AA, #0b1221);
}
#navbar button:hover{
    background: linear-gradient(to bottom, #1c2748, #0b1221);

}
h4{
    font-family: 'Orbitron';
    font-weight: bold;
    margin-bottom: 25px;
}