@import url(/assets/fonts/fonts.css);
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
    background-color: #0b1221;
    color: #ffffff;
    line-height: 1.6;
}

header {
    width: 100%;
    background-color: #131a2c;
    padding: 10px 20px;
    position: fixed;
    top: 0;
}

.conteudo_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 70px; /* Adjust for header height */
}

.conteudo_principal img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background: #1c2748;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

.logo span {
    color: #ff8c00;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.profile-icon img {
    background: url('assets/images/profile-icon.png') no-repeat center center;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.custom-modal-background {
    background-color: #131a2c;
    color: #ffffff;
}

.custom-modal-background .modal-header,
.custom-modal-background .modal-footer {
    border-color: #0b1221;
}

